Python specific files

pycache/
*.pyc
.pytest_cache/
.coverage

Dependency directories

venv/
node_modules/
dist/
build/

IDE files

.idea/
.vscode/

/src/backend/resumes/
# Ignore all .env files
**/.env